html, body {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden; /*barra do eixo x (barra de navegaçãop) removida*/
    background-color: #bcbb9b;
}

/*inicio css necessário todas as paginas*/
.topBar {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    height: 8px;
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10; /* Certifique-se de que a barra fique acima de outros elementos */
}

.dropdown {
    position: relative;
}

/* Esconde o menu inicialmente */
.dropdown-menu {
    display: none;
    position: absolute;
    bottom: 100%; /* Posiciona o menu acima da barra */
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.4); /* Fundo escuro */
    padding: 10px;
    border-radius: 5px;
    width: 120px; /* Largura do dropdown */
    text-align: center;
    z-index: 1000;
}

/* Exibe o menu quando a classe 'show' está presente */
.dropdown-menu.show {
    display: block;
}

.dropdown-item {
    color: white;
    text-decoration: none;
    display: block;
    padding: 5px 0;
}

.dropdown-item:hover {
    background-color: rgba(0, 0, 0, 0.4); /* Efeito hover nos itens */
    color: white;
}

.overlay-div { /*barra inferior*/
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 45vh;
    max-width: 600px;
    height: 4vh;
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    z-index: 1; /* Coloca abaixo de outros elementos */
}
/*fim barra inferior - need*/

.tabela{
    position: absolute;
      top: 50%;
      left: 50%;
      width: 80%;
      padding: 40px;
      transform: translate(-50%, -50%);
      background: rgba(0,0,0,.5);
      box-sizing: border-box;
      box-shadow: 0 15px 25px rgba(0,0,0,.6);
}

.botoes-redirecionamento {
    text-decoration: none;
    color: white;
    font-size: 16px;
    text-align: center;
    margin-bottom: 1px; /* Espaço entre o link e a linha */
    transition: 0.5s ease;
}

a:hover {
    color: #bcbb9b;
}

.bt-line{
    width: fit-content; /* Definir um tamanho fixo ou ajuste conforme necessário */
    min-width: 60px;
    height: 0.9px; /* Um pouco mais grosso para maior visibilidade */
    background-color: white;
}

.md-line{
    width: 1px;
    height: 100%; /* Um pouco mais grosso para maior visibilidade */
    background-color: white;
}

.bt-line-large{
    display: flex;
    justify-content: center;
    width: 90%;
    height: 0.9px;
    background-color: white;
}

/* Barra inferior */
.bottomBar {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    left: 0;
    text-align: center;
    font-size: 14px;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
}

