html, body {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden; /*barra do eixo x (barra de navegaçãop) removida*/
    background-color: #bcbb9b;
}

.login-box {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  padding: 40px;
  transform: translate(-50%, -50%);
  background: rgba(0,0,0,.5);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0,0,0,.6);
  border-radius: 10px;
}

.login-box h2 {
  margin: 0 0 30px;
  padding: 0;
  color: #fff;
  text-align: center;
}

.login-box .user-box {
  position: relative;
}

.login-box .user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}
.login-box .user-box label {
  position: absolute;
  top:0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: .5s;
}

.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label {
  top: -20px;
  left: 0;
  color: #03e9f4;
  font-size: 12px;
}

.login-box form a {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #03e9f4;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  margin-top: 40px;
  letter-spacing: 4px
}

.topBar{/*barra do topo do site*/
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    height: 8px;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: auto;
}

.submitLogin{ /*botao de submit do login*/
    background-color: #5E5D4D;
    color: white;
    font-size: 16px;
    text-decoration: none;
    border: 2px; /* Borda quebrada (pontilhada ou tracejada) */
}

.submit-line {/*linha abaixo do botão de login*/
    width: fit-content; /* A linha se ajusta ao tamanho do conteúdo */
    min-width: 60px;
    height: 0.5px;
    background-color: white; /* Cor da linha */
}

.bottonLineArea {/*area de efeito da linha inferior*/
    position: absolute;
    bottom: -3.5%; /* Posição a 1% do fundo da tela */
    width: 200px; /* Aumentando a largura da área clicável */
    height: 40px; /* Aumentando a altura da área clicável */
    display: flex;
    justify-content: center;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(255, 255, 255, 0); /* Área clicável invisível */
}

.bottonLine { /*linha inferior*/
    background-color: rgba(0, 0, 0, 0.4);
    width: 60px;
    height: 2px;
    transition: transform 1s ease;
}

.bottonLineArea:hover .bottonLine { /*animação da linha inferior*/
    transform: scale(4.5, 10); /* A animação acontece quando o mouse está sobre a área */
}