html, body {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden; /* Remove barra de rolagem horizontal */
    background-color: #bcbb9b;
}

.bottonLineArea {
    position: absolute;
    bottom: -3.5%;
    width: 200px;
    height: 40px;
    display: flex;
    justify-content: center;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(255, 255, 255, 0);

}

.bottonLine {
    background-color: rgba(0, 0, 0, 0.4);
    width: 60px;
    height: 2px;
    transition: transform 1s ease;
}

.bottonLineArea:hover .bottonLine {
    transform: scale(4.5, 10);
}

.topBar {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    height: 8px;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: auto;
}

.central-container {
    max-height: 400px;
    overflow-y: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.tabela {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 60%;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, .5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
    padding: 5%;
    margin-top: 5%;
}

.bt-line {
    width: fit-content;
    min-width: 60px;
    height: 1px;
    background-color: white;
    margin-top: -1px;
    margin-bottom: 1px;
    display: flex;
    justify-content: center;
    margin-top: 5%;
}

h1, p {
    display: flex;
    justify-content: center;
    color: white;
}

.table, .table tbody, .table thead, .table th, .table td {
    background-color: transparent !important;
    color: white !important;
    border-color: rgba(255, 255, 255, 0.3) !important;
}

.table thead th {
    color: white !important;
    background-color: rgba(0, 0, 0, 0.4) !important;
}

.table tbody tr {
    background-color: rgba(0, 0, 0, 0.3) !important;
}

.row {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.col-4 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.fas {
    font-size: 1.1rem;
    color: white;
    cursor: pointer;
    text-decoration: none;
}

.fas:hover {
    color: #ddd;
}

.dropdown {
    position: relative;
}

/* Esconde o menu inicialmente */
.dropdown-menu {
    display: none;
    position: absolute;
    bottom: 100%; /* Posiciona o menu acima da barra */
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.4); /* Fundo escuro */
    padding: 10px;
    border-radius: 5px;
    width: 120px; /* Largura do dropdown */
    text-align: center;
    z-index: 1000;
}

/* Exibe o menu quando a classe 'show' está presente */
.dropdown-menu.show {
    display: block;
}

.dropdown-item {
    color: white;
    text-decoration: none;
    display: block;
    padding: 5px 0;
}

.dropdown-item:hover {
    background-color: rgba(0, 0, 0, 0.4); /* Efeito hover nos itens */
    color: white;
}

.overlay-div {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 45vh;
    max-width: 600px;
    height: 4vh;
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    z-index: 1; /* Coloca abaixo de outros elementos */
}

.modal {
    z-index: 1055 !important;
}

.modal-backdrop {
  z-index: -1;
}

.modalBox{
    background-color: rgb(113, 112, 93);
}

label{
    color: white;
}