<div th:fragment="fragment2">
    <header>
        <div class="tabela-little container">
            <div class="row">
                <h4>Próximas Irrigações</h4>
            </div>

            <!-- Título das colunas -->
            <table class="table" id="tabela-irrigacoes">
                <thead>
                <tr>
                    <th>Data</th>
                    <th>Hora</th>
                    <th>Intervalo</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="irrigacao : ${proximasIrrigacoes}">
                    <td th:text="${irrigacao.dataIrrigacao}"></td>
                    <td th:text="${irrigacao.horaIrrigacao}"></td>
                    <td th:text="${irrigacao.intervalo}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </header>
</div>