<div th:fragment="fragmentListaIrrigacao">

    <div class="tabela">
        <div class="col text-center">
            <h1 class="mb-4">Lista de Irrigações</h1>
        </div>
        <table class="table tabela-lista" id="tabela-irrigacoes">
            <thead>
            <tr>
                <th>Id:</th>
                <th>Data Registro:</th>
                <th>Data Irrigação:</th>
                <th>Hora Irrigação:</th>
                <th>Duração:</th>
                <th>Opções</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="irriga : ${irrigacao}" th:id="${'row' + irriga.id}">
                <td th:text="${irriga.id}"></td>
                <td class="data-registro" th:text="${#temporals.format(irriga.dataRegistro, 'dd/MM/yyyy HH:mm:ss')}"></td>
                <td th:text="${irriga.dataIrrigacao}" th:id="${'data'+irriga.id}"></td>
                <td th:text="${irriga.horaIrrigacao}" th:id="${'hora'+irriga.id}"></td>
                <td th:text="${irriga.intervalo}" th:id="${'dura'+irriga.id}"></td>
                <td>
                    <button
                        class="btn btn-primary"
                        data-bs-toggle="modal"
                        data-bs-target="#optionsModal"
                        th:data-irrigacao-id="${irriga.id}"
                        th:data-datairrigacao="${irriga.dataIrrigacao}"
                        th:data-horairrigacao="${irriga.horaIrrigacao}"
                        th:data-intervalo="${irriga.intervalo}">
                        Options
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <!-- Modal principal -->
    <div class="modal fade" id="optionsModal" data-bs-backdrop="false" tabindex="-1" aria-labelledby="optionsModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content" style="background-color: rgb(113, 112, 93);">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="optionsModalLabel">Opções</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
                </div>
                <div class="modal-body">
                    <div class="modalBox">
                        <div class="row">
                            <input class="d-flex justify-content-center" id="selectedIrrigacaoId" readonly="readonly">
                        </div>
                        <div class="row mt-3">
                            <div class="col-5">
                                <label for="datairrigacao">Data irrigação:</label>
                                <input type="date" name="datairrigacao" id="datairrigacao" class="form-control" autocomplete="off">
                            </div>
                            <div class="col-5">
                                <label for="horairrigacao">Hora e min. irrigação:</label>
                                <input type="time" name="horairrigacao" id="horairrigacao" class="form-control" autocomplete="off">
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-3"></div>
                            <div class="col-6">
                                <label for="intervalo">Intervalo (em min.):</label>
                                <input type="number" name="intervalo" id="intervalo" class="form-control" min="1" max="30" step="1">
                            </div>
                            <div class="col-3"></div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" id="deleteButton" >Delete</button>
                    <button type="button" class="btn btn-primary" id="saveButton" >Save</button>
                </div>
            </div>
        </div>
    </div>
</div>
