<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-qVIFsdE1Os3bxGX7p2yknO3s+/PzBhpGAgwjs52Il+kg7MhgH2ajl5GCqzgUHu0k"
            crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
            integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/irrigacao/listaIrrigacao.css">
    <title>Próximas Irrigações</title>
</head>
<body>

<div th:fragment="fragmentListaIrrigacao">
    <header>
        <table class="table tabela-lista" id="tabela-irrigacoes">
            <thead>
            <tr>
                <th>Data Registro:</th>
                <th>Data Irrigação:</th>
                <th>Hora Irrigação:</th>
                <th>Intervalo:</th>
                <th>Opções</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="irrigacao : ${irrigacao}">
                <td class="data-registro" th:text="${irrigacao.dataRegistro}"></td>
                <td th:text="${irrigacao.dataIrrigacao}"></td>
                <td th:text="${irrigacao.horaIrrigacao}"></td>
                <td th:text="${irrigacao.intervalo}"></td>
                <td>
                    <button class="btn btn-secondary" onclick="openOptionsModal(${irrigacao.id})">Options</button>
                </td>
            </tr>
            </tbody>
        </table>
    </header>
</div>

<!-- Modal para Editar/Deletar -->
<div class="modal fade" id="optionsModal" tabindex="-1" aria-labelledby="optionsModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="optionsModalLabel">Editar Irrigação</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="editForm">
                    <div class="mb-3">
                        <label for="dataIrrigacao" class="form-label">Data Irrigação</label>
                        <input type="date" class="form-control" id="dataIrrigacao">
                    </div>
                    <div class="mb-3">
                        <label for="horaIrrigacao" class="form-label">Hora Irrigação</label>
                        <input type="time" class="form-control" id="horaIrrigacao">
                    </div>
                    <div class="mb-3">
                        <label for="intervalo" class="form-label">Intervalo</label>
                        <input type="number" class="form-control" id="intervalo">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" onclick="deleteIrrigacao()">Deletar</button>
                <button type="button" class="btn btn-primary" onclick="saveChanges()">Salvar Alterações</button>
            </div>
        </div>
    </div>
</div>

<script src="irrigacao/irrigacao.js" ></script>

</body>
</html>