<div th:fragment="fragmentListaUsuario" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="tabela">
        <div class="col text-center">
            <h1 class="mb-4">Lista de Usuários</h1>
        </div>
        <table class="table tabela-lista" id="tabela-usuarios">
            <thead>
            <tr>
                <th>Nome:</th>
                <th>Email:</th>
                <th>Opções</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="usuario : ${usuarios}" th:id="${'row'+usuario.id}">
                <td th:text="${usuario.username}"></td>
                <td th:text="${usuario.email}"></td>
                <td>
                    <button
                            class="btn btn-primary"
                            data-bs-toggle="modal"
                            data-bs-target="#optionsModal"
                            th:data-usuario-id="${usuario.id}"
                            th:data-username="${usuario.username}"
                            th:data-email="${usuario.email}"
                            onclick="openModalUsuario(this)">
                        Opções
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <!-- Modal (fora da tabela para evitar erros de estrutura) -->
    <input type="hidden" id="selectedUsuarioId" value="">
    <div class="modal fade" id="optionsModal" tabindex="-1" aria-labelledby="optionsModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="optionsModalLabel">Editar Usuário</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="d-none">
                        <input type="text" id="idUsuario"/>
                    </div>
                    <div class="form-group">
                        <label for="editUsername" class="form-label">Nome:</label>
                        <input type="text" id="editUsername" class="form-control" name="username">
                    </div>
                    <div class="form-group">
                        <label for="editEmail" class="form-label">Email:</label>
                        <input type="email" id="editEmail" class="form-control" name="email">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" id="deleteButton" class="btn btn-danger">Excluir</button>
                    <button type="button" id="saveButton" class="btn btn-primary">Salvar</button>
                </div>
            </div>
        </div>
    </div>
</div>
