<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

    <!-- Font Aweasome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="/css/home.css">
    <title>Home</title>
</head>
<body>

<div class="container.fluid">
    <div class="row">
        <div class="topBar"></div>
    </div>
</div>

<div class="container">
    <div class="row tabela">
        <div class="col-5">

            <div class="row blocoInfo">
                <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide-to="0"
                                class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide-to="1"
                                aria-label="Slide 2"></button>
                    </div>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <h3>Info. da irrigação atual</h3>
                            <p>Temperatura da água:</p>
                            <p>12° graus</p>
                            <p>Temperatura do ambiente:</p>
                            <p>20° graus</p>
                            <p>Umidade do ambiente:</p>
                            <p>34% umidez</p>
                        </div>
                        <div class="carousel-item">
                            <h3>Info. da última irrigação</h3>
                            <p>Temperatura da água:</p>
                            <p>15° graus</p>
                            <p>Temperatura do ambiente:</p>
                            <p>22° graus</p>
                            <p>Umidade do ambiente:</p>
                            <p>24% umidez</p>
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying"
                            data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying"
                            data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>

                <div class="row mt-2 d-flex justify-content-center">
                    <div class="container">
                        <div class="row d-flex justify-content-center">
                            <div class="col-6">
                                <h3 class="textoInfo">Próxima Irrigação:</h3>
                                <span class="textoInfoTh" id="proxima-irrigacao-data"
                                      th:text="${#temporals.format(statusAtual?.irrigacaoAtualData, 'dd/MM/yyyy') ?: 'Não definida'}"></span>
                            </div>
                            <div class="col-6">
                                <h3 class="textoInfo">Hora:</h3>
                                <span class="textoInfoTh" id="proxima-irrigacao-hora"
                                      th:text="${statusAtual?.irrigacaoAtualHora ?: 'Não definida'}"></span>
                            </div>
                        </div>
                        <div class="row mt-1">
                            <div class="col-12">
                                <h3 class="textoInfo d-flex justify-content-center">Contagem regressiva (segundos):</h3>
                                <span class="textoInfoTh justify-content-center" id="countdown"
                                      th:text="${statusAtual?.countdownSegundos ?: 'S/C'}"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>

        <div class="col-2 d-flex justify-content-center">
            <p class="md-line"></p>
        </div>

        <div class="col-5">
            <div class="row blocoInfo d-flex justify-content-center">
                <div class="row d-flex justify-content-center">
                    <!-- Primeira coluna com 2 botões -->
                    <div class="col-6">
                        <div class="row d-flex justify-content-center mt-4">
                            <a class="mb-1 botoes-redirecionamento w-75 text-center" href="/cadastrar">Cadastrar usuário</a>
                            <div class="bt-line"></div>
                        </div>

                        <div class="row d-flex justify-content-center mt-4">
                            <a class="mb-1 botoes-redirecionamento w-75 text-center" href="usuario/listausuarios">Lista usuários</a>
                            <div class="bt-line"></div>
                        </div>
                    </div>

                    <!-- Segunda coluna com 2 botões -->
                    <div class="col-6">
                        <div class="row d-flex justify-content-center mt-4">
                            <a class="mb-1 botoes-redirecionamento w-75 text-center" href="/irrigacao/agendar">Agendar irrigação</a>
                            <div class="bt-line"></div>
                        </div>

                        <div class="row d-flex justify-content-center mt-4">
                            <a class="mb-1 botoes-redirecionamento w-75 text-center" href="/irrigacao/listar">Lista irrigações</a>
                            <div class="bt-line"></div>
                        </div>
                    </div>
                </div>
            </div>

            <p class="bt-line-large mt-3"></p>

            <div class="row blocoInfo">
                <div class="row">
                    <div class="col-6">
                        <h3 class="textoInfo">Usuario atual:</h3>
                        <span class="textoInfoTh" id="nomeUser"></span>
                    </div>

                    <div class="col-6">
                        <h3 class="textoInfo d-flex justify-content-center">cargo:</h3>
                        <span class="textoInfoTh" id="cargoUser"></span>
                    </div>
                </div>

                <div class="row mt-2">
                    <div class="col-12">
                        <h3 class="textoInfo d-flex justify-content-center">e-mail:</h3>
                        <span class="textoInfoTh" id="emailUser"></span>
                    </div>
                </div>
            </div>

            <div class="container">
                <a th:href="@{/logout}">Logout</a>
            </div>

        </div>
    </div>
</div>

<div class="overlay-div">
    <div class="row w-100">
        <div class="col-4 d-flex justify-content-start">
            <a href="/home" class="fas fa-home"></a> <!-- Ícone de casinha no início -->
        </div>
        <div class="col-4 d-flex justify-content-center">
            <a class="fas fa-bars toggle-dropdown"></a> <!-- Ícone de 3 barrinhas que abre o dropdown -->
            <div class="dropdown-menu">
                <a href="/agendar-irrigacao" class="dropdown-item">Agendar Irrigação</a>
                <a href="/lista-irrigacao" class="dropdown-item">Lista Irrigações</a>
                <a href="/usuario/cadastrar" class="dropdown-item">Cadastrar Usuario</a>
                <a href="/usuario/lista-usuario" class="dropdown-item">Listar Usuarios</a>
            </div>
        </div>
        <div class="col-4 d-flex justify-content-end">
            <a class="fas fa-circle"></a> <!-- Ícone de bolinha no fim -->
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
<script src="/js/home.js" defer></script>

</body>
</html>
